{% extends 'base-header.html' %}
{% block body %}
<div class="container">
    <div class="row">
         <form method="POST" class="p-3 shadow" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter todo name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="priority" id="priority"
                       placeholder="Enter todo priority">
            </div>
            <input type="submit" class="btn btn-success" name="" id="">
        </form>
    </div>
    <div class="row">
        {% for task in tasks %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{task.name}}</h5>
                    <p class="card-text">${{task.priority}}</p>
                    <!--                    <a class="btn btn-warning" href="{% url 'myapp:detail' book.id %}">View Details </a>-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}